[run]
source = gaussian_lsp
branch = True
omit = 
    */tests/*
    */test_*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    pass
    ...
show_missing = True
fail_under = 100
